<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  
  <Target Name="RestorePackages">
    <Error
      Text="nuget.exe shim was not found. Install ChocolateyPackage nuget.commandline"
      Condition="!Exists('$(ShimsPath)\nuget.exe')"
    />
           
    <Exec Command="$(ShimsPath)\nuget.exe restore @(SolutionsToBuild)" />
  </Target>

  <Target Name="BuildSolutions" DependsOnTargets="RestorePackages">

    <Message Text="SolutionsToBuild: @(SolutionsToBuild)" />

    <MSBuild 
      Projects="@(SolutionsToBuild)" 
      Properties="$(ForcedMSBuildProperties);BuildNumber=$(VersionBuild);$(HardLinksOptions)" />
  </Target>

</Project>