<?xml version="1.0" encoding="utf-8" ?>

<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" DefaultTargets="All">

  <Target Name="CleanSolution">

    <Message Text="Cleaning up temp files prior to build" Importance="High"/>
    <RemoveDir Directories="@(ProjectBuildArtefactFolders)" />
    
    <RemoveDir Directories="$(DropsPath)" ContinueOnError="true" />
    <MakeDir Directories="$(DropsPath)\$(SemanticVersion)\"/>

  </Target>

</Project>