<?xml version="1.0" encoding="utf-8" ?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" DefaultTargets="All">  
  <Target Name="PackageNuget" DependsOnTargets="CreateDrops">
    <Copy SourceFiles="$(BuildPath)\..\Build\%(NugetPackage.nuspecFile)" DestinationFolder="$(DropsPath)\temp\%(NugetPackage.PackageName)\" />
 
    <Copy SourceFiles="@(NugetPackage)" DestinationFolder="$(DropsPath)\temp\%(NugetPackage.PackageName)\lib\NET40\" />

    <XmlUpdate      
	  Prefix="nu"
	  Namespace="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd"
      XmlFileName="$(DropsPath)\temp\%(NugetPackage.PackageName)\%(NugetPackage.nuspecFile)"
      XPath="//*/*/nu:version"
      Value="$(GlobalBuildVersionNumber)" />

    <Exec WorkingDirectory="$(DropsPath)\" 
          Command="$(ToolsPath)\nuget.exe pack $(DropsPath)\temp\%(NugetPackage.PackageName)\%(NugetPackage.nuspecFile)" />
		  
    <RemoveDir Directories="$(DropsPath)\temp\" />
  </Target>
</Project>