<?xml version="1.0" encoding="utf-8" ?>

<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" DefaultTargets="All">

  <Target Name="Package"
          DependsOnTargets="CreateDrops">

    <Zip ZipFileName="%(PackageName)"
         Files="@(PackageFiles)"
         WorkingDirectory="%(WorkingDirectory)"
         Flatten ="false" />

	  <Message Text="##teamcity[publishArtifacts '%(PackageFiles.PackageName)']"  />
	  
  </Target>

</Project>