<?xml version="1.0" encoding="utf-8" ?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" DefaultTargets="All">

  <Target Name="DisplayAssemblyVersion">
	<Message Text="##teamcity[buildNumber '$(SemanticVersion)']" Condition="'$(OverrideTeamCityBuildNumber)' == 'true'" />
  </Target>
  
  <Target Name="EnsureAssemblyVersion" DependsOnTargets="DisplayAssemblyVersion" >
    <MSBuild.Community.tasks.AssemblyInfo Condition="!Exists('$(AssemblyVersionFile)')"
	  OutputFile="$(AssemblyVersionFile)"
      CodeLanguage="C#"
      AssemblyFileVersion="$(VersionMajor).$(VersionMinor).$(VersionPatch).$(VersionBuild)"
      AssemblyInformationalVersion="$(SemanticVersion)"
      AssemblyVersion="$(VersionMajor).$(VersionMinor).$(VersionPatch).$(VersionBuild)"
      />
  </Target>

</Project>
